{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Logo del blog">
        <h1>Mi Blog</h1>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'lista_posts' %}">Posts</a>

            {% if user.is_authenticated %}
            <a href="{% url "perfil" %}">{{user.get_full_name|default:user.username}}</a>
            <form action="{% url "cerrar_sesion" %}" method="post">
                {% csrf_token %}
                <button type="submit">Cerrar Sesión</button>
            </form>
            {% else %}
            <a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
            <a href="{% url 'registrar' %}">Registrarse</a>
            {% endif %}
            
            {% comment %} <a href="{% url 'contacto' %}">Contacto</a> {% endcomment %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>
            Creado por Django
        </p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>