{% extends "base.html" %}

{% block title %} Perfil | Mi Blog {% endblock %}

{% block content %}
    <h2>Perfil</h2>
    <p>Bienvenido, {{ user.get_full_name|default:user.username }}!</p>
    <p>Correo electrónico: {{ user.email }}</p>
    <p>Biografía: {{ perfil.biografia|default:"No disponible" }}</p>
    <p>Fecha de Nacimiento: {{ perfil.fecha_nacimiento|default:"No disponible" }}</p>
    <p>Avatar: 
        {% if perfil.avatar %}
            <img src="{{perfil.avatar.url}}" alt="Avatar del usuario" height="300">
        {% else %}
            Avatar no disponible
        {% endif %}
    </p>

    <a href="{% url "editar_perfil" %}">Editar Perfil</a>
{% endblock %}